<html xmlns:th="http://www.thymeleaf.org">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Todolists</title>
<table>
    <tr>
        <td>
            <form method="POST" action="/chooseList">
                <select th:name="listId">
                    <th:block th:each="list : ${lists}">
                        <option th:text="${list.name}" th:value="${list.id}"></option>
                    </th:block>
                </select>
                <input type="hidden" value="listId">
                <button type="submit">Choose</button>
            </form>
        </td>
    </tr>
</table>
<table>
    <th:block th:each="case : ${cases}">
        <tr>
            <td th:text="${case.description}"/>
            <td>
                <form method="POST" action="/updateCase">
                    <input type="hidden" name="caseId" th:value="${case.id}">
                    <button type="submit">Done</button>
                </form>
            </td>
        </tr>
    </th:block>
</table>
<table>
    <tr>
        <form method="POST" action="/addCase">
            <input type="text" name="description">
            <button type="submit">Add</button>
        </form>
    </tr>
</table>
</html>
